<h1><%= post.title %></h1>

<% if(post.image_url){ %>
  <img src="<%= post.image_url %>" alt="<%= post.title %>" class="post-img">
<% } %>

<p><%= post.content %></p>

<div class="ad-slot">
  <!-- ใส่โค้ด AdSense ที่นี่ -->
</div>
